/* common styles */
html, body {
  height:100%;font-size:12px;background:#000;
}
a:link, a:visited, a:active {
  color:#333;text-decoration:none;
}
a:hover {
  color:#CCC;text-decoration:underline;
}

/* button styles */
.button {
  -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#DDD;border:1px solid;border-color:#e0e0e0 #aaa #aaa #e0e0e0;
  background:-moz-linear-gradient(0% 170% 90deg, #c4c4c4, white);background:-webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#c4c4c4)); 
  color:#404040;display:inline-block;font-size:12px;padding:5px 13px 5px;text-align:center;text-decoration:none;  
  font-family:"helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
  text-shadow:1px 1px 0 rgba(255,255,255,60); outline:0;white-space:nowrap;cursor:pointer; 
}
input[type='submit'].button,
button[type='submit'] { 
  font-weight:bold;
}
.button.small { 
  padding: 2px 10px 2px; font-weight:normal; 
}
.button.group { 
  -moz-border-radius:0;-webkit-border-radius:0;border-radius:0px;padding:5px 10px;
}
.button.group.left { 
  padding:5px 10px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;
}
.button.group.right { 
  padding:5px 10px;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;
}
a.button { 
  color:#404040;text-decoration:none;margin:0;
}
.button:hover {
  background:-moz-linear-gradient(0% 170% 90deg, #b8b8b8, white);
  background:-webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#b8b8b8));    
  border-color:#e0e0e0 #999 #999 #e0e0e0;color:#333333; 
}
.button:focus, .button:active, .button.checked {
  text-shadow: 0 1px 0 #666; top:0px;background-position:0 -25px; color:#fff;border: 1px solid #555;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999));
  background: -moz-linear-gradient(top,  #666,  #999);
}

/* layout styles */
#container {}
#header, #main_container, #footer_container {
  width:960px;margin:0 auto;
}

/* header styles */
#header_container {
  background:#BF0000;
}
#header {
  position:relative;
}
#header h1 {
  float: left;display: block;
}
#header h1 a {
  font-family: 'Fontdiner Swanky', serif;color: #FFF;font-size: 34px;font-style: normal;font-weight: 400;text-shadow: 2px 2px 2px #333;text-decoration: none;text-transform: capitalize;
  letter-spacing: 0em;word-spacing: 0em;line-height: 1.2;display: block;height: 80px; line-height: 80px;
}


/* header navigation styles */
#navigation {
  float: left;
}
#navigation ul {
  position: absolute;bottom: 0;margin-left: 10px;
}
#navigation ul li {
  float: left;
}
#navigation ul li a {
  float: left;background:#000 url(/images/icons/nav/home.png) no-repeat 10px 5px;padding:6px 13px 5px 30px;margin:0 2px;color:#FFF;font-size:13px;display:block;
  -webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;
}
#navigation ul li a#home {background-image: url(/images/icons/nav/home.png);}
#navigation ul li a#category {background-image: url(/images/icons/nav/category.png);}
#navigation ul li a#post {background-image: url(/images/icons/nav/post.png);}
#navigation ul li a#setting {background-image: url(/images/icons/nav/setting.png);}
#navigation ul li a:hover {
  background-color:#8E8E8E;text-decoration:none;color:#FFF;
}
#navigation ul li a.current {
  color:#333;background-color:#FFF;
}


/* header user styles */
#users {
  position: absolute;right: 5px;top: 5px;color: #CCC;
}
#users span.greeting {
  color: #ffc000;text-shadow: 0 1px 0 #000;
}
#users span.name {
  color:#fff;text-shadow:0 1px 0 #000;
}
#users a.logout {
  -webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;background-color:#ffaa56;
  display:inline-block;padding:2px 10px 3px;margin-left:10px;text-decoration:none;color: #FFF;
}
#users a.logout:hover {
  background-color:#fff;color: #333;
}



/* main styles */
#main {
  background-color:#fff;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;
  padding:10px;-webkit-box-shadow:0 1px 2px #f8eab6;-moz-box-shadow:0 1px 2px #f8eab6;-o-box-shadow:0 1px 2px #f8eab6;
  box-shadow:0 1px 2px #f8eab6;
}
#main .tools {
  margin-bottom: 10px;
}
#main .tools .menu {
  float:left;width:70%;
}
#main .tools .search {
  float:right;width:30%;text-align:right;
}
#main .search .input {
  margin:0;border: 1px solid #DDD;padding:3px;
}
#main .search .button {
  padding:4px 13px 3px;margin:0;margin-left:5px;
}




/* sitemaps styles */
#sitemaps {
  color:#555;margin-bottom:10px;
}
#sitemaps .prompt {
  padding-right:5px;
}
#sitemaps .space_mark {
  padding:0 3px 0 5px;
}
#sitemaps a {
  color:#BF0000;
}


/* footer styles */
#footer_container p {
  padding:20px 0;color:#FFF;
}

/* pagination styles */
.pagination {  
  text-align: right;
  padding:10px 0;
  margin:5px 0;
}
.pagination .previous_page, .pagination .next_page, .pagination a {  
  padding:3px 5px;  
  color:#666;
  background:#f5f5f5;   
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #fff,  #f0f0f0); 
  border:1px solid #DDD;
}
.pagination a {
  padding:3px 7px;
}
.pagination a:hover {
  background:#BF0000;
  color:#FFF;
  text-decoration: none;
  border-color: #960101;
  background: -webkit-gradient(linear, left top, left bottom, from(#e26666), to(#BF0000));
	background: -moz-linear-gradient(top,  #e26666,  #BF0000);
}
.pagination em {
  background:#BF0000;
  color:#FFF;
  padding:3px 7px;
  border:1px solid #960101;
  background: -webkit-gradient(linear, left top, left bottom, from(#e26666), to(#BF0000));
	background: -moz-linear-gradient(top,  #e26666,  #BF0000);
}
.pagination .disabled {
  color:#ddd;
}

/* simple form styles */
.simple_form {}
.simple_form div.input {
  margin-bottom:10px;
}
.simple_form label {
  display:block;
  color:#333;
  margin:3px 1px;
}
.simple_form label abbr {
  color:#BF0000;
}
.simple_form input.string {
  border: 1px solid #DDD;
  border-left-color:#999;
  border-top-color:#999;
  padding:4px;
}
.simple_form textarea.text {
  border: 1px solid #DDD;
  border-left-color:#999;
  border-top-color:#999;  
}

.simple_form input.long {
  width:928px;
  max-width:928px;
  min-width:928px;
}
.simple_form textarea.long {
  width:930px
  max-width:930px;
  min-width:930px;
}
.simple_form span.error, .simple_form span.hint {
  color:#BF0000;
  display:block;
  margin-top:2px;
}
.simple_form span.hint {
  color:#777;
}

/* flash styles */
.massage {padding:10px;margin:10px 0;border-style:solid;border-width:2px;text-align:center;
  -webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;font-size:13px;}
.notice {border-color:#1FDF00;background-color:#BBFFB6;}
.alert {border-color:#FBB;background-color:#FDD;}