<% title("Tags") %>
<div class="tags">
  <h2>All Tags</h2>
  <div id="tags">
    <% if @tags.length > 0 %>
      <% tag_cloud(@tags, %w(tc1 tc2 tc3 tc4 tc5)) do |tag, css_class| %>
        <a href="<%= tag_path(tag.name) %>" title="<%= tag.name %>" class="<%= css_class %>"><%= tag.name %></a>
      <% end -%>
    <% else -%>
    <% end -%>
  </div>
</div>