/* standard styles */
body { font: 12px/1.5 'Lucida Grande', Verdana, Arial, "\5b8b\4f53", Sans-Serif; color: #333; }
a:link, a:visited { font-size: 1em; color: #0066CC; text-decoration: none; }
a:hover { color: #678E04; text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
p { margin-bottom: 0.5em;}
ol, ul { margin: 12px 0; padding-left: 40px; }
ol { list-style: decimal;}
ul { list-style: disc; }
ul li{ }
img { padding: 4px; border: 1px solid #CCC; }
strong, b { font-weight: bold;}
i, cite, em, var, address { font-style: italic;}
pre {margin: 8px;}
sup { vertical-align: super; font-size: smaller;}
sub { vertical-align: sub; font-size: smaller;}
input{ border: 1px solid #ccc; margin: 2px 0; padding: 3px;}
blockquote { margin: 5px; padding: 5px; background: #EAEAEA;}
table { border: 1px solid #777;}
table tr th{ padding: 1px 10px; background: #999;}
table tr td{ padding: 2px 10px; background: #ddd;}
.empty { font-weight: bold; font-size: 14px; }

/* header styles */
#header { background: #000000; height: 46px; line-height: 46px; }
#header_wrapper {  }
#header .logo { float: left; }
#header .logo a { font-family: 'Anton', serif; color: #FFFFFF; text-shadow: 0px 0px 2px #ccc; text-transform: capitalize; 
  text-decoration: none; }
#header .logo a:hover { color: #0066CC; }
#header .nav { float: right; margin-right: 10px; }
#header .nav ul { padding: 0; margin: 0;}
#header .nav li { display: inline-block; }
#header .nav li a { display: block; padding: 0 5px; font-weight: bold; }
#header .nav li a.active { color: #FFF;}
#header a:hover { text-decoration: none; }

/* main styles */
#main_wrapper { padding: 15px 0;}
#content { min-height: 10px; }
/* sidebar styles */
#sidebar {}
#sidebar .sbox { margin-bottom: 20px;}
#sidebar .sbox a { text-decoration: none;}
#sidebar .sbox h4 { font-size: 14px; color: #666; }
#sidebar .sbox h4 a { float: right; font-size: 12px; }
#sidebar .sbox ul { padding: 0; margin: 0;}
#sidebar .sbox ul li { padding: 3px 0 4px 1px; list-style: square inside; color: #666; border-bottom: 1px dotted #999; }
#sidebar .sbox a.more { display: block; text-align: right; margin-top: 10px;}

.tags .tc1, .tags .tc2, .tags .tc3, .tags .tc4, .tags .tc5 { padding: 3px 5px; display: inline-block; -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; border-radius: 4px;min-width: 30px; text-align: center; background: #678E04; color: #FFF; margin-right: 3px; }
.tags a.tc1:hover, .tags a.tc2:hover, .tags a.tc3:hover, .tags a.tc4:hover, .tags a.tc5:hover  { background: #0066CC; text-decoration: none; }
.tags .tag_list { padding-top: 7px; }


/* post list styles */
.post { margin-bottom: 10px; border-bottom: 1px dotted #CCC; padding-bottom: 10px;}
.post a:hover { text-decoration: none; }
.post h2 a { color: #678E04;}
.post h2 a:hover { color: #0066CC; }
.post .post_body {margin: 5px 0;}
.post .post_date, .post .post_comments, .post .post_categories, .post .post_tags { background: #FFF url(/images/icons/post/date.png) no-repeat 0 2px; padding-left: 20px;
  height: 18px; line-height: 18px; display: block; }
.post .post_date { background-image: url(/images/icons/post/date.png); background-position: 0 1px; float: left; color: #999; }
.post .post_comments { background-image: url(/images/icons/post/comment.png); float: right; }
.post .post_categories { background-image: url(/images/icons/post/category.png); float: left; }  
.post .post_tags { background-image: url(/images/icons/post/tag.png); float: left; margin-left: 20px; }
.post .post_tags a { padding: 0 3px; }
.post .post_body p { line-height: 160%; }
.post .post_body a { color: #678E04;}
.post .post_body a:hover { color: #0066CC;}

/* comments styles */
.comments ul {padding: 0; margin: 0;}
.comments ul li { background: none; margin: 0; padding: 10px 0;}
.comments .hidden { display: none; }
.comment .avatar { padding: 2px; border: 1px solid #DDD; height: 38px; width: 38px; float: left; }
.comment .comment_content { margin-left: 60px; background: #F7F7F7; border-top: 1px solid #CCC; padding: 5px; min-height: 50px;}
.comment .comment_info { height: 18px; }
.comment .comment_meta { float: left; }
.comment .comment_meta cite { font-style: italic; }
.comment .comment_meta span { padding: 0 4px; }
.comment .comment_date { float: right; font-size: 11px; font-style: italic; color: #BBB; text-align: right;}
.comment .comment_body { padding: 2px 0; color: #282C2F;}


.comment_form input.string { border: 1px solid #CCC; margin: 3px 0; padding: 3px; width: 170px;}
.comment_form textarea.text { border: 1px solid #ccc; margin: 3px 0; width: 90%; height: 150px; font-size: 12px;}
.comment_form div.input {position: relative;}
.comment_form label { position: absolute; left: 190px; top: 5px; color: #777;}
.comment_form .actions {position: relative; }
.comment_form .actions input { border: 1px solid #CCC; margin: 3px 0; padding: 3px 5px; background: #DDD;}
.comment_form .actions .ajaxloading { position: absolute; width: 16px; height: 16px; top: 3px; left: 57px; display: none; }
.comment_form .actions .ajaxloading img { border: none;}

.comment_form .messages { padding: 5px; border: 1px solid #ffdddd; display: none;margin: 5px 0; background: #fff9f9;}
.comment_form .messages h4 {color: #bf4c4c; font-weight: bold;}
.comment_form .messages ul {  }
.comment_form .messages li {padding: 0; padding-left: 5px; list-style: square inside; color: #666; }
.comment_form .messages.success { border-color: #678E04; color: #678E04; background: #faffed;}
.comment_form .messages p { padding: 10px 5px;}

.backtotop { text-align: right;}

/* footer styles */
#footer { margin-bottom: 20px; }
#footer .left { float: left; }
#footer .right { float: right; }
#footer .bottom_nav { clear: both; }
#footer ul { list-style: none; padding: 0; margin: 0; }
#footer ul li { display: inline-block; margin: 0 4px; }


/* login page */
#login { width: 400px; margin: 100px auto; background: #f4f4f4; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #CCC; }
#login h2 {background: #ccc; font-size: 20px; padding: 5px 0 5px 10px;}
#login .simple_form { padding: 10px;}
#login label {display: block;}
#login div.input, #login div.actions { padding: 3px 20px;}
#login input.string, #login input.password { width: 335px; padding: 6px 2px;}
#login .massage { margin: 10px auto 0 auto; width: 317px; padding: 10px;}
#login input.button { padding: 5px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #ccc; color: #333; vertical-align: middle; cursor: pointer; width: 60px; }
