<div id="newtabs" class="tabox">
  <ul>
    <li class="pop"><a href="#popular">Popular</a></li>
    <li class="rec"><a href="#recent">Recent</a></li>
    <li class="tag"><a href="#tags">tags</a></li>
  </ul>
  <div id="popular">
    <ul class="items">
      <li>
        <h4><a href="#">Hello Word!</a></h4>
        <p>Welcome to WordPress. This is your first post. Edit or ...</p>
      </li>
      <li>
        <h4><a href="#">Hello Word!</a></h4>
        <p>Welcome to WordPress. This is your first post. Edit or ...</p>
      </li>
      <li>
        <h4><a href="#">Hello Word!</a></h4>
        <p>Welcome to WordPress. This is your first post. Edit or ...</p>
      </li>
      <li>
        <h4><a href="#">Hello Word!</a></h4>
        <p>Welcome to WordPress. This is your first post. Edit or ...</p>
      </li>
      <li>
        <h4><a href="#">Hello Word!</a></h4>
        <p>Welcome to WordPress. This is your first post. Edit or ...</p>
      </li>
    </ul>
  </div>
  <div id="recent">
    <ul class="items">
      <li>
        <h4><a href="#">Forbin pretium quam</a></h4>
        <p>Nunc ornare dui at metus mattis pulvinar. Nullam tincidunt justo ...</p>
      </li>
      <li>
         <h4><a href="#">Forbin pretium quam</a></h4>
        <p>Nunc ornare dui at metus mattis pulvinar. Nullam tincidunt justo ...</p>
      </li>
      <li>
         <h4><a href="#">Forbin pretium quam</a></h4>
        <p>Nunc ornare dui at metus mattis pulvinar. Nullam tincidunt justo ...</p>
      </li>
      <li>
         <h4><a href="#">Forbin pretium quam</a></h4>
        <p>Nunc ornare dui at metus mattis pulvinar. Nullam tincidunt justo ...</p>
      </li>
      <li>
         <h4><a href="#">Forbin pretium quam</a></h4>
        <p>Nunc ornare dui at metus mattis pulvinar. Nullam tincidunt justo ...</p>
      </li>
    </ul>
  </div>
  <div id="tags">
    <div class="fblock">
      <a href="#" class="l1">Ruby</a>
      <a href="#" class="l2">RubyOnRails</a>
      <a href="#" class="l3">China</a>
      <a href="#" class="l4">description</a>
      <a href="#" class="move">move tags</a>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#newtabs").tabs();
</script>
<div id="categories" class="tabox">
  <h3>Categories</h3>
  <ul>
    <li><a href="#">category1</a></li>
    <li><a href="#">category1</a></li>
    <li><a href="#">category1</a></li>
  </ul>
</div>
