<% title(@post.title) %>
<div id="post">
  <div class="title">
    <h2><%= @post.title %></h2>
    <div class="meta">
      <div class="metabox comment"><a href="#" title="0 Comments">0 Comments</a></div>
      <div class="metabox time"><%= l(@post.created_at.to_date, :format => :long) %></div>
      <div class="metabox author">SapronLee</div>
    </div>
  </div>
  <div class="body"><%= raw @post.body %></div>
</div>