<div class="top_corner"></div>
<div class="content">
  <div class="imgbox">
    <a href="#"><%= theme_image_tag("myworks.gif") %></a>
  </div>
  <div class="box">
    <h3>RECENT COMMENTS</h3>
    <ul>
      <li><a href="#">主人~~，快出来冒个泡！</a></li>
      <li><a href="#">主人~~，快出来冒个泡！</a></li>
      <li><a href="#">主人~~，快出来冒个泡！</a></li>
      <li><a href="#">主人~~，快出来冒个泡！</a></li>
      <li><a href="#">主人~~，快出来冒个泡！</a></li>
    </ul>
  </div>
  <div class="box">
    <h3>CATEGORIES</h3>
    <ul>
      <li><a href="#">Category 1</a></li>
      <li><a href="#">Category 2</a></li>
      <li><a href="#">Category 3</a></li>
      <li><a href="#">Category 4</a></li>
      <li><a href="#">Category 5</a></li>
    </ul>
  </div>
  <div class="box">
    <h3>RECENT POSTS</h3>
    <ul>
      <li><a href="#">Category 1</a></li>
      <li><a href="#">Category 2</a></li>
      <li><a href="#">Category 3</a></li>
      <li><a href="#">Temple of Heaven in Beijing on Nov 01</a></li>
      <li><a href="#">Category 5</a></li>
    </ul>
  </div>
</div>
<div class="bottom_corner"></div>