<% title "找回密码" %>
<div id="forgot_password">
  <h2>忘记密码？</h2>
  <%= simple_form_for(@user, :url => user_password_path, :html => { :novalidate => true }) do |f| %>
    <%= f.input :email %>
    <div class="actions">
      <%= f.button :submit, "发送邮件" %>
      <a href="<%= new_user_session_path %>" class="forgot_password">登录</a>
    </div>
  <% end %>
</div>
