body { font: 12px/1.5 'Lucida Grande', Verdana, Arial, "\5b8b\4f53", Sans-Serif; background: #e1e1e1 url(/themes/default/images/bg_n.gif) repeat top center; color: #282c2f; margin:0px auto; height:auto; }
a:link, a:visited { color: #678E04; text-decoration: none; }
a:hover { color: #0066CC; text-decoration: underline; }

#wrapper { background: url(/themes/default/images/bg.gif) repeat-x left top; }
#wrapper_2 { background: url(/themes/default/images/header_bg.gif) no-repeat top center; }
#header { width: 948px; height: 100px; margin: auto; color: #8C8858; }
#logo { float: left; width: 300px; height: 80px; font-family: 'Cabin Sketch', serif; color: #576b00; font-size: 40px; text-shadow: 2px 2px 2px #fff; text-align: center; line-height: 80px; text-transform: capitalize; text-decoration: none;}
#logo a:hover { text-decoration: none;}
#nav { float: right; height: 80px; overflow: hidden; width: 600px;}
#nav ul { float: right;}
#nav ul li { float: left; display: inline;}
#nav ul li a { display: block; color: #404a10; padding: 0 1.2em 0; line-height: 80px; text-shadow: 0 1px 0 #DFDFDF; }
#nav ul li a:hover { text-decoration: none; color: #0066cc; }
#main { width: 950px; margin: 0 auto; }
#footer { height: 100px; background:url(/themes/default/images/footer.gif) repeat-x; }
#content { width: 650px; float: left; overflow: hidden;}
#sidebar { width: 280px; float: right; overflow: hidden; margin-top: 30px; color: #555;}
#content .top_corner, #content .bottom_corner { height: 30px; background: url(/themes/default/images/content.png) no-repeat; }
#sidebar .top_corner, #sidebar .bottom_corner { height: 20px; background: url(/themes/default/images/sidebar.png) no-repeat; }
#main .top_corner {background-position: left top;}
#main .bottom_corner {background-position: left bottom;}
#content .content { padding: 5px 30px; background: url(/themes/default/images/content_m.png) repeat-y; }
#content .box {}
#content .box h3 { font-size: 13px; font-weight: bold;}
#content .box ul { }
#content .box li { list-style-position: inside; background:url(/themes/default/images/ul.gif) no-repeat left 7px; margin-left:10px; padding-left:8px; }
#sidebar .content { padding: 3px 10px; background: url(/themes/default/images/sidebar_m.png) repeat-y; }
#sidebar .box { padding: 10px;}
#sidebar .box a:link, #sidebar .box a:visited { color: #555;}
#sidebar .box a:hover { color: #0066cc;}
#sidebar .box h3 { text-transform: uppercase; color: #4C5A0F; border-bottom: 1px solid #ccc; padding-bottom: 2px; font-weight: bold;}
#sidebar .box li { margin: 2px 5px; background: url(/themes/default/images/ul.gif) no-repeat left 7px; padding-left: 8px; }
#sidebar .imgbox { text-align: center;}
#footer .content { height: 60px; width: 928px; margin: auto; padding: 40px 10px 0; color: #000; background: url(/themes/default/images/footer_bg.gif) no-repeat top center; text-shadow: 0 1px 0 #E9E9E9;}
#footer .left { float: left; }
#footer .right {float: right; }

/* post styles */
.post { padding-bottom: 30px;}
#posts_show .post { padding-bottom: 10px;}
.post a:link, .post a:visited { color: #678E04; text-decoration: none;}
.post a:hover { color: #0066cc;}
.post h2 { font-size: 16px; border-bottom: 1px solid #D6D6D6; padding: 3px 0; word-wrap: break-word; line-height: 18px; font-weight: bold; }
.post h2 a:link, .post h2 a:visited { color: #4C5A0F;}
.post .post_info { margin: 3px 0;}
.post .post_meta { padding: 1px 0; margin: 6px 0 25px;}
.post .post_date, .post .post_comments, .post .post_categories, .post .post_tags { background: url(/themes/default/images/icons.gif) no-repeat;
  margin-right: 12px; padding-left: 18px; height: 16px; line-height: 16px; display: block; font-size: 11px;}
.post .post_date { float: left;}
.post .post_comments { float: right; background-position: 0 -48px;}
.post .post_categories { float: left; background-position: 0 -16px;}
.post .post_tags { float: left; background-position: 0 -64px;}
.post .post_tags span { padding: 0 3px;}
.post .post_tags a { }

.post .post_body { margin-top: 5px; overflow: hidden;}
.post .post_body p { margin-bottom: 0.5em;}
.post .post_body ol, .post .post_body ul { margin: 12px 0; padding-left: 40px; }
.post .post_body ol { list-style: decimal;}
.post .post_body ul { list-style: disc; }
.post .post_body ul li{ }
.post .post_body img { max-width: 590px; height: auto; }
.post .post_body strong, .post .post_body b { font-weight: bold;}
.post .post_body i, .post .post_body cite, .post .post_body em, .post .post_body var, .post .post_body address {
  font-style: italic;}
.post .post_body pre {margin: 8px;}
.post .post_body h1, .post .post_body h2, .post .post_body h3, .post .post_body h4, .post .post_body h5, .post .post_body h6 {
  font-weight: bold;}
.post .post_body h1 {font-size: 1.7em; margin: 13px 0;}
.post .post_body h2 {font-size: 1.3em; margin: 12px 0; border: none;}
.post .post_body h3 {font-size: 1.17em; margin: 12px 0; }
.post .post_body h4 {font-size: 1em; margin: 15px 0; }
.post .post_body h5 {font-size: .83em; margin: 20px 0; }
.post .post_body h6 {font-size: .75em; margin: 27px 0; }
.post .post_body sup { vertical-align: super; font-size: smaller;}
.post .post_body sub { vertical-align: sub; font-size: smaller;}
.post .post_body .wp-smiley{ border: 0px;}
.post .post_body input{ border: 1px solid #ccc; margin: 2px 0; padding: 3px;}
.post .post_body blockquote { margin: 5px; padding: 5px; background: #EAEAEA;}
.post .post_body table { border: 1px solid #777;}
.post .post_body table tr th{ padding: 1px 10px; background: #999;}
.post .post_body table tr td{ padding: 2px 10px; background: #ddd;}

/* comments styles */
#posts_show .comments ul li { background: none; margin: 0; padding: 15px 0;}
.comment .avatar { padding: 2px; border: 1px solid #DDD; height: 38px; width: 38px; float: left; }
.comment .comment_content { margin-left: 60px; background: #F7F7F7; border-top: 1px solid #CCC; padding: 5px;}
.comment .comment_info { height: 18px; }
.comment .comment_meta { float: left; }
.comment .comment_meta cite { font-style: italic; }
.comment .comment_meta span { padding: 0 4px; }
.comment .comment_date { float: right; font-size: 11px; font-style: italic; color: #BBB; text-align: right;}
.comment .comment_body { padding: 2px 0; color: #282C2F;}

.comment_form input.string { border: 1px solid #CCC; margin: 3px 0; padding: 3px;}
.comment_form textarea.text { border: 1px solid #ccc; margin: 3px 0; width: 90%; height: 150px;}
.comment_form div.input {position: relative;}
.comment_form label { position: absolute; left: 190px; top: 5px; color: #777;}
.comment_form .actions input { border: 1px solid #CCC; margin: 3px 0; padding: 3px 5px;}

#posts_show #messages { padding: 5px; border: 1px solid #bf0000; display: none;margin: 5px 0; background: #fff4f4;}
#posts_show #messages h4 {color: #bf0000; font-weight: bold;}
#posts_show #messages ul { list-style: disc; }
#posts_show #messages li {padding: 0; padding-left: 5px;}
#posts_show #messages.success { border-color: #678E04; color: #678E04; background: #faffed;}
#posts_show #messages p { padding: 10px 5px;}

.backtotop { text-align: right;}